@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  height: 100vh;
  background-color: #e0e8ff;
  color: #717fa6;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../images/pattern-background-mobile.svg");
    background-size: cover;
    left: -13.181rem;
    top: 0;
    right: 0;
    height: 19.4rem;
    z-index: -1;

    @media screen and (min-width: 768px) {
      background-image: url("../images/pattern-background-desktop.svg");
      left: 0;
      height: 43.7rem;
    }
  }
}

%center-text {
  text-align: center;
}

%button {
  appearance: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.main {
  padding: 7.1rem 2.4rem;
}

.order-summary {
  background-color: #fff;
  box-shadow: 0 4rem 4rem -2rem rgba(13, 48, 189, .151826);
  border-radius: 2rem;
  max-width: 45rem;

  &__header {
    &::before {
      display: block;
      content: "";
      background-image: url("../images/illustration-hero.svg");
      background-size: cover;
      height: 0;
      padding-top: 48.89%;
      border-radius: 2rem 2rem 0 0;
    }
  }

  &__title {
    font-size: 2.2rem;
    font-weight: 900;
    color: #1f2e55;
    line-height: 2.911rem;
    margin: 3.2rem 0 1.6rem;

    @extend %center-text;

    @media screen and (min-width: 768px) {
      font-size: 2.8rem;
      line-height: 3.404rem;
      margin: 4.5rem 0 1.7rem;
    }
  }

  &__body {
    padding: 0 2.4rem 3.2rem;

    @media screen and (min-width: 768px) {
      padding: 0 4.8rem 4.8rem;
    }
  }

  &__description {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 0 0 2.4rem;

    @extend %center-text;

    @media screen and (min-width: 768px) {
      font-size: 1.6rem;
      line-height: 2.6rem;
      margin-bottom: 2rem;
    }
  }

  &__price {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 2rem;
    background-color: #f7f9ff;
    border-radius: 1.1rem;
    padding: 1.7rem 1.6rem 1.6rem;

    @media screen and (min-width: 768px) {
      padding: 2.5rem 2.4rem;
    }

    &::before {
      content: "";
      background-image: url("../images/icon-music.svg");
      width: 4.8rem;
      height: 4.8rem;
    }
  }

  &__plan {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: .3rem;
    font-weight: 900;
    font-size: 1.4rem;
    line-height: 1.852rem;
    margin: 0;
    color: #1f2e55;

    @media screen and (min-width: 768px) {
      font-size: 1.6rem;
      line-height: 2.117rem;
    }
  }

  &__cost {
    font-weight: 500;
    color: #717fa6;
  }

  &__button {

    @extend %button;
  }

  &__button-link {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.72rem;
    color: #382ae1;
    text-decoration: underline;

    @media screen and (min-width: 768px) {
      font-size: 1.4rem;
      line-height: 1.852rem;
    }

    &:hover {
      color: #766cf1;
      text-decoration: none;
    }

    &--standalone {
      font-weight: 900;
      font-size: 1.5rem;
      line-height: 1.985rem;
      text-decoration: none;
      width: 100%;
      color: #717fa6;

      &:hover {
        color: #1f2e55;
      }
    }
  }

  &__button-default {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.985rem;
    box-shadow: 0 2rem 2rem rgba(56, 42, 225, .190291);
    border-radius: 1.1rem;
    width: 100%;
    padding: 1.5rem;
    margin: 2.4rem 0;
    color: #fff;
    background-color: #382ae1;

    @media screen and (min-width: 768px) {
      margin: 3.2rem 0;
    }

    &:hover {
      background-color: #766cf1;
    }
  }
}
